<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <header><%- include('../partials/navbar'); %></header>
    <div class="container mt-5 pt-3">
      <div class="row">
        <div class="col-md-12">
          <h2>Edit Contact</h2>
          <form method="post" action="/editContact/<%= contact._id %>">
            <div class="mb-3">
              <label for="name" class="form-label">Contact Name</label>
              <input
                type="text"
                class="form-control"
                name="contactName"
                value="<%= contact.contactName %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="number" class="form-label">Contact Number</label>
              <input
                type="text"
                class="form-control"
                name="contactNumber"
                value="<%= contact.contactNumber %>"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Contact Email</label>
              <input
                type="email"
                class="form-control"
                name="contactEmail"
                value="<%= contact.contactEmail %>"
                required
              />
            </div>

            <button type="submit" class="btn btn-primary">Edit</button>
            <a href="/deleteContact/<%= contact._id %>" class="btn btn-danger"
              >Delete</a
            >
            <a href="/contactList %>" class="btn btn-secondary">Cancel</a>
          </form>
          <br />
        </div>
      </div>
    </div>
  </body>
</html>
